/* Custom CSS for Swagger UI */

/* Hide default Swagger logo */
.swagger-ui .topbar .link img {
    display: none !important;
}

/* Add custom logo */
.swagger-ui .topbar .link::before {
    content: "";
    background: url("logo.png") no-repeat center;
    background-size: contain;
    width: 160px;
    height: 40px;
    display: block;
}
